<form #addForm="ngForm" (ngSubmit)="Save(addForm)">
    <div class="form-group">
      <label for="title">Tile</label>
      <input type="text" class="form-control" id="title" name="title" ngModel required  minlength="5" #t="ngModel" [class.is-invalid]="t.invalid && t.touched" >
        <span style="color:red" *ngIf="t?.errors?.['required'] && t.touched"> Title is Required</span>
        <span style="color:red" *ngIf="t?.errors?.['minlength'] && t.touched"> Title must at least 5!</span>
    </div>

    <div class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" id="price" name="price" ngModel>
      </div>

      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="number" class="form-control" id="quantity" name="quantity" ngModel>
      </div>
    
    <button type="submit" class="btn btn-primary" [disabled]="addForm.invalid">Submit</button>
  </form>